<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${blog.title}+'@不迷失'">标题</title>
    <meta name="description"
          th:content="${blog.title}+'| 不迷失技术博客'"/>
    <meta name="keywords" content="不迷失技术" th:content="${blog.title}"/>
    <div th:replace="head"></div>

</head>

<body>
<div th:replace="header"></div>
<div id="main" style="min-height: 800px;">
    <article class="col-md-8 col-md-offset-2 view clearfix">
        <h1 class="view-title" th:text="${blog.title}">三套极简风格的WordPress主题模板</h1>
        <div class="view-meta">
            <span>作者: @不迷失</span>
            <span>阅读数: <span th:text="0"></span></span>
            <span>分类: <a th:href="@{/blog/catalog/{catalog}(catalog=${blog.catalog})}" rel="category tag"
                         th:text="${blog.catalogDisplay}">catalog</a></span>
            <span>发布时间: <span th:text="${#dates.format(blog.publishTime,'yyyy/MM/dd')}"></span></span>
            <span></span>
        </div>
        <div class="view-content">
            <div class="editormd-preview">
                <div th:utext="${blog.display}" class="markdown-body editormd-preview-container" previewcontainer="true"
                     style="padding: 20px;">

                </div>

            </div>

        </div>

        <section class="support-author">
            <p>我的文章对你有用么！</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i
                    class="fa fa-cny" aria-hidden="true"></i> 顶一把
            </button>
        </section>

    </article>
    <section class="col-md-8 col-md-offset-2 clearfix">
        <div class="read">
            <div class="read-head"><i class="fa fa-book"></i> 更多阅读</div>
            <div class="read-list row">
                <div class="col-md-6">
                    <ul>

                        <li><a href="http://tangjie.me/blog/196.html" target="_blank">【博客改版】极简风格，全新JieStyle</a></li>
                        <li><a href="http://tangjie.me/blog/199.html" target="_blank">有营养的5条知识观点分享</a></li>
                        <li><a href="http://tangjie.me/blog/205.html" target="_blank">如何招聘产品经理</a></li>
                        <li><a href="http://tangjie.me/blog/192.html" target="_blank">产品经理不能错过的一本书</a></li>
                        <li><a href="http://tangjie.me/blog/195.html" target="_blank">产品经理的野蛮生长</a></li>
                        <li><a href="http://tangjie.me/blog/202.html" target="_blank">做产品，创意不是最重要的</a></li>
                        <li><a href="http://tangjie.me/blog/203.html" target="_blank">iMessage App Store体验观察与商业机会</a>
                        </li>
                        <li><a href="http://tangjie.me/blog/207.html" target="_blank">1024程序员节，写给年轻程序员的建议</a></li>
                        <li><a href="http://tangjie.me/blog/210.html" target="_blank">杰出PM专班改版了，并且启动商业实战项目</a></li>
                        <li><a href="http://tangjie.me/blog/193.html" target="_blank">轻松应对产品经理面试问题</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a href="http://tangjie.me/blog/66.html" title="博客总结，文章汇总：产品经理的成长之路">博客总结，文章汇总：产品经理的成长之路</a>
                        </li>
                        <li><a href="http://tangjie.me/blog/22.html" title="从产品思维讲《iOS人机界面指导手册》读后感（跑题文章）">从产品思维讲《iOS人机界面指导手册》读后感（跑题文章）</a>
                        </li>
                        <li><a href="http://tangjie.me/blog/104.html" title="第三章：产品规划(1) &#8211; 产品规划介绍">第三章：产品规划(1)
                            &#8211; 产品规划介绍</a></li>
                        <li><a href="http://tangjie.me/blog/28.html" title="招聘产品经理，这三点真的不重要">招聘产品经理，这三点真的不重要</a></li>
                        <li><a href="http://tangjie.me/blog/122.html" title="学员课后总结：产品唐杰之用户体验">学员课后总结：产品唐杰之用户体验</a></li>
                        <li><a href="http://tangjie.me/blog/98.html" title="第一章：产品介绍(5) – 产品经理入门前的心理准备">第一章：产品介绍(5) –
                            产品经理入门前的心理准备</a></li>
                        <li><a href="http://tangjie.me/blog/163.html" title="产品经理如何更精准的细分人群">产品经理如何更精准的细分人群</a></li>
                        <li><a href="http://tangjie.me/blog/180.html" title="1.2 产品团队和产品经理">1.2 产品团队和产品经理</a></li>
                        <li><a href="http://tangjie.me/blog/27.html" title="《职场交谈，这样说就对了》读后感">《职场交谈，这样说就对了》读后感</a></li>
                        <li><a href="http://tangjie.me/blog/46.html" title="如何提高工作效率？一些思考！">如何提高工作效率？一些思考！</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</div>
<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cny" aria-hidden="true"></i> 打赏支持</h4>
            </div>
            <div class="modal-body text-center">
                <p><img border="0" th:src="@{/themes/jiestyle/images/alipay.jpg}" alt="不迷失支付宝" width="180" height="180"
                        style="margin: 0 8%;"/><img border="0" th:src="@{/themes/jiestyle/images/wechat.jpg}"
                                                    alt="不迷失微信钱包"
                                                    width="180" height="180" style="margin: 0 8%;"/></p>
                <p>扫描二维码，输入您要打赏的金额</p>
            </div>
        </div>
    </div>
</div>
<!--modal-->

<div th:replace="footer"></div>


</body>
</html>