<header id="header">
    <div class="avatar">有深度的技术博客</div>
    <h3 id="name">@不迷失</h3>
    <div class="sns">

        <!--<a href="http://shang.qq.com/wpa/qunwpa?idkey=d1d7f068205e1ff5dbcc1ecda23d5195d2ce61254c0f7188741c758111e1c2f2" target="_blank" rel="nofollow" title="Java技术群">技术交流群</a>-->
        <!--<a href="http://user.qzone.qq.com/1060420897/main" target="_blank" rel="nofollow" title="QQ空间">QQ空间</a>-->

    </div>
    <div class="nav">
        <ul>

            <li th:if="${not #lists.isEmpty(navs)}" th:each="nav:${navs}">
                <a th:href="@{${nav.url}?:'#'}" th:text="${nav.label}" th:target="${nav.type==2}?'_blank'">label</a>

                <ul>
                    <li th:each="second:${nav.childNodes}"><a th:href="@{${second.url}}" th:text="${second.label}"
                                                              th:target="${second.type==2}?'_blank'">label</a></li>
                </ul>
            </li>


        </ul>
    </div>
    <div class="weixin"><img th:src="@{/themes/jiestyle/images/weixin.jpg}" alt="不迷失微信" width="80%"/>
    </div>
</header>